[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./manage.py,
       ./SmartShoppingSystem/config/*,
       ./SmartShoppingSystem/wsgi.py,
       *__init__*
